body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto Mono", monospace;
  font-family: "Rochester", cursive;
}
h1 {
  font-family: "Rochester", cursive;
  font-size: 78px;
  margin: 10px;
}
h2 {
  font-family: "Amatica SC", cursive;
  font-weight: 700;
  text-align: center;
}
p {
  font-family: "Open Sans Condensed", sans-serif;
}
.header {
  background-color: skyblue;
  height: 100px;
  text-align: center;
  color: #4f889f;
  padding: 1px;
}
.container div {
  padding: 1%;
  box-sizing: border-box;
}
.left-col,
.right-col {
  background-color: #f4f4f4;
  width: 25%;
  float: left;
}
/*Arun CSS Area*/
.center-col {
  /*          background-color: pink; */
  width: 50%;
  float: left;
}
.under-recepies {
  margin: 1rem;
  height: 10rem;
  width: 10rem;
}
.rectangle {
  width: 90%;
  background-color: #555;
  border-radius: 10px;
}
/*Arun CSS Area*/
.footer {
  clear: both;
  font-family: "Amatica SC", cursive;
  background-color: skyblue;
  text-align: center;
  height: 50px;
  padding-top: 10px;
  box-sizing: border-box;
}
